h1,h2,h3,h4,h5,h6 {
    font-family: 'Oranienbaum', serif;
    margin-bottom: 20px;
}
body {
    background: url(../images/bg-main.png) top #000 no-repeat;
    font-family: 'roboto';
}
.white-background {
    background-color: #fff;
}
.col_no-padding {
    padding: 0;
}
.relative {
    position: relative;
}
.btn {
    border-radius: 0.15rem;
}
/* header start */
header {
    font-family: 'Oranienbaum', serif;
}
header.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    z-index: 5;
    width: 100%;
    padding-right: 65px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
}
header.default {
    position: relative;
}
.header-toggle-height {
    height: 235px;
}
.header-toggle-height .navbar-collapse {
    display: block;
}
.header-toggle-height button {
    margin-top: 32px;
}
.header button {
    margin-top: 32px;
}
.collapse:not(.show) {
    display: block !important;
}
@media screen and (max-width: 991px) {
    .header button~.navbar-collapse {
        opacity: 0;
        visibility: hidden;
        transition: 0.55s opacity, 0.55s visibility;
    }
    .header-toggle-height button~.navbar-collapse {
        opacity: 1;
        visibility: visible;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu .menu__button {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.navbar {
    height: 120px;
    padding-left: 0;
}
.navbar .container {
    padding-left: 0;
}
.nav-item a {
    color: #ffffff !important;
    font-size: large;
    padding-right: 25px;
    font-family: "Oranienbaum", serif;
    cursor: pointer;
}
.social {
    display: flex;
    justify-content: end;
}
.social a {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
}
.social img {
    position: absolute;
    clip: rect(0, 25px, 25px, 0);
}
.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.phone a {
    color: #fff;
}
/* header end */
/* logo start */
.logo {
    height: 650px;
    margin-top: 50px;
    color:#fff;
}
.logo img {
    margin-bottom: 50px;
}
.logo h3 {
    font-size: 24px;
}
.logo p {
    font-family: 'Oranienbaum', serif;
    color: #cdb380;
    text-decoration: underline;
    font-size: 16px;
}
/* logo end */
.stylish-help {
    padding: 40px 0;
    overflow: hidden;
}
.stylish-help h2, .stylish-help p:first-child {
    text-align: center;
    width: 50%;
}
.stylish-help p {
    text-align: center;
}
.stylish-help__img img {
    width: 100%;
}
.stylish-help .label {
    position: absolute;
    background-color: rgb(234, 54, 54);
    color: #fff;
    font-size: 16px;
    top: 35px;
    left: -50px;
    transform: rotate(-45deg);
    width: 200px;
    text-align: center;
}
/* table start */
.table {
    font-family: 'roboto';
}
.table .border-orange {
    border-color: rgb(219, 143, 0) !important;
}
.table .bg-orange {
    background-color: rgb(240, 156, 0) !important;
}
.table .th, .table .btn {
    font-size: 16px;
}
@media screen and (max-width: 720px) {
    .table th, .table .btn {
        font-size: 12px;
    } 
}
.table .currency {
    width: 35px;
    height: 35px;
}
.table td {
    font-size: 18px;
    font-weight: bold;
}
.table td svg {
    width: 30px;
    height: 25px;
}
.table td>span {
    font-size: 14px;
}
.table .price {
    font-size: 20px;
    font-weight: bold;
}
/* table end */
/* packages start*/
.packages-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .package-item {
    max-width: 300px;
    height: 470px;
    border: 3px solid #ddd;
    font-weight: bold;
    color: #000;
    padding: 30px;
    margin: 0 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .package-item:hover {
    border: 3px solid #bfbfbf;
    -webkit-box-shadow: 0 0 20px 10px #ddd;
    box-shadow: 0 0 20px 10px #ddd;
  }
  .package-item p:nth-child(3),
  .package-item p:nth-child(5) {
    font-weight: normal;
  }
  .package-item p:nth-child(2),
  .package-item div:nth-child(2) p {
    font-size: 23px;
  }
  .package-item div:nth-child(2) {
    text-align: center;
  }
  .package-item div:nth-child(2) p:first-child {
    display: inline-block;
    position: relative;
    font-weight: normal;
    color: #aaa;
  }
  .package-item div:nth-child(2) p:first-child:before {
    border-bottom: 2px solid red;
    position: absolute;
    content: "";
    left: -10%;
    width: 120%;
    height: 50%;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  .package-item p:nth-child(1),
  .package-item p:nth-child(2),
  .package-item p:nth-child(7) {
    text-align: center;
  }
  .package-item button {
    width: 220px;
    height: 50px;
    color: #fff;
    background: #ff0c3a;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 30px auto 0;
  }
  .package-item button:hover {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }
  .package-item button:active {
    -webkit-box-shadow: 0 0 5px #ff0c3a;
    box-shadow: 0 0 5px #ff0c3a;
  }
  /* packages end*/
  /*works start*/
  .work-sequence-wrap div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 26px;
    line-height: 30px;
  }
  .work-sequence-wrap a {
    margin: 20px;
    overflow: hidden;
  }
  .work-sequence-wrap img {
    width: 200px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .work-sequence-wrap img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  .work-sequence-wrap__description {
    max-width: 420px;
    padding: 20px;
  }
  /*works end*/
  /* footer start */
  footer {
    color: #fff;
    font-size: 12px;
    padding: 0 15px 30px;
  }
  footer button {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    background: #000;
    border: 1px solid #fff;
    margin: 30px auto 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer button svg {
    margin-left: 5px;
  }
  footer button:hover {
    background-color: rgb(43, 41, 41);
  }
/* footer end */